@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

body
{
font-family: 'Raleway';
}

.App {
  text-align: center;
  display: flex;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav
{
padding:60px 30px 0px 30px ;
flex:var(--sidebar-flex);
background: rgb(80, 111, 237);
background: linear-gradient(180deg, rgb(79, 89, 237) 50%, rgba(132,124,252,1) 80%);
}

nav ul
{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li
{
  margin:40px;
}

.active
{
font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myname {
  font-size: 30px;
}
.font {
  font-family: monospace;
}
.font-smaller {
  font-size: 30px;
}
.portfolio {
  align-content: center;
  font-family: monospace;
  font-size:25px;
  margin-top:25px;
  margin-left: 10.1%; 
}

.project-container {
  border-color:rgb(193, 198, 204);
  border-style:solid;
  margin: 10px;
  border-radius: 5%;
}
.small {
  font-size:15px;
  margin-bottom: 10px;;
}

.icon {
 margin-left: 55px;;
 size: 35px;
}

.connect {
  margin-left: -1%;
  margin-top:50px;
}
.margin {
  margin-left: 35%;
}

.margin-icon {
  margin-left: 48%
}

.footer {
  margin-bottom: -850px;
}
.info {
  margin-right: 30px;
  margin-left: -80px;
}

.biginfo {
  width: 100%;
}
